
:root{
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    --fonte-padrao: "inter";

}

body{
    font-family: "inter";
    margin: 0px;
    padding: 0px;
    background:linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%) #303030;
    background-repeat: no-repeat;
    
}
#principal{
    width: 100%;
    height: 100px;
    background: #303030;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #BABABA;
}

#principal div a{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    
}

#principal div a:hover{
    color:#CCCCCC
}

#menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;

    margin-left: 5%;
}

#menu a{
    font-family: "Inter";
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
   
}

#principal button{
    background: #0C70F2;
    width: 80px;
    height: 39px;
    color: #FFFFFF;
    margin-top: 31px;
    margin-right:115px;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 3px 2px 4px 0.25px #0C70F240;
    cursor: pointer;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 100px;
    margin-bottom: 100px;
}

section header{
    color: white;

}

header h1{
    font-size: 80px;
    font-weight: 800;
    font-weight: bolder;
    text-align: center;

    margin-bottom: 20px;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    margin-bottom: 100px;
}

header .invert{
    background-color:black;
    font-weight: bold;
    padding: 5px;
}

form{
    color:white;
    font-size: 30px;
    font-weight: 600;
    width: 650px;
}

.formgroup{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

form input{
    border-radius: 10px;
    height: 30px;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); 

}

form label{
   margin: 10px 0px 10px 0px; 
}

form input::placeholder{
    color:#39393980 ;
}

.checkbox label{
    font-size: 25px;
    
}

.checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.7);
}

input[type="submit"]{
    background-color:#0C70F2E5 ;
    width: 100%;
    height: 56px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    box-shadow: 0px 6px 4px 0px #0C70F240;
    margin-top: 100px;
    cursor: pointer;

}